* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    background-color: #e8f5f5;
    padding: 20px;
}

.container {
    max-width: 650px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);

    background-image: url('background_image.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-heading {
    text-align: center;
    color: #005d52;
    margin-bottom: 10px;
    font-size: 28px;
}

.note {
    text-align: center;
    margin-bottom: 25px;
    font-size: 14px;
    color: #555;
}

.required {
    color: red;
}

h2 {
    color: #00796b ;
    margin-bottom: 15px;
}

.form-card {
    background-color: #f0fdfd;
    padding: 20px 25px;
    border-radius: 10px;
    margin-bottom: 25px;
    border: 1px solid #b2dfdb;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #14947b;
    margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="month"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #b2dfdb;
    border-radius: 6px;
    transition: all 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #00796b;
    box-shadow: 0 0 6px rgba(0,121,107,0.3);
    outline: none;
}

.custom-fieldset {
    border: 1px solid #b2dfdb;
    border-radius: 8px;
    padding: 15px 20px;
    background-color: #e0f7f7;
    margin-bottom: 15px;
}

.custom-fieldset legend {
    font-weight: bold;
    color: #14947b;
}

.radio-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

.radio-group label {
    font-weight: normal;
    color: #095350;
    cursor: pointer;
}

.form-row {
    display: flex;
    gap: 15px;
}

.form-row .form-group.small {
    flex: 1;
}

input[type="submit"] {
    background-color: #00796b;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: all 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #004d40;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    display: block;
}

input.error, select.error, textarea.error {
    border: 2px solid red;
}

input.success, select.success, textarea.success {
    border: 2px solid green;
}

input[type="submit"]:disabled {
    background-color: #9e9e9e;
    cursor: not-allowed;
    opacity: 0.7;
}

